/*========== Header ==========*/

.header-tour-detail {
    background-image: none;
    height: 130px;

    .logo {
        filter: invert(1);
    }

    .navbar {
        .navbar-header {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;

            .nav-item {
                a {
                    color: black;
                }

                a:hover {
                    color: $orange-primary;
                }

                .active {
                    color: $orange-primary;
                }
            }
        }
    }

    @media only screen and (max-width: 575.98px) {
        .navbar-header {
            background: #525253;
        }
    }
}

.box-detail-tour {
    .header-detail {
        .title-tour {
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px;
        }

        .text-content {
            color: $subcolor;
            font-weight: 400;
        }

        .rate {
            width: 65px;
            height: 30px;
            padding: 0 10px;
            background-color: $orange-primary;
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
            margin-right: 40px;

            img {
                height: 16px;
                width: 16px;
                display: inline;
            }

            span {
                padding-top: 4px;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 22px;
                color: white;
            }
        }
    }

    .box-detail-content {
        margin-top: 38px;

        .box-body-detail {
            width: 92%;

            .body-tour-slide {
                .main-image-tour {
                    position: relative;

                    .main-image {
                        width: 100%;
                        position: relative;

                        img {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    .main-image:after {
                        content: "";
                        display: block;
                        padding-bottom: 85%;
                    }

                    .ribbon {
                        height: 35px;
                        width: 50px;
                        right: 2%;
                        z-index: 2;
                    }

                    .list-image-thumbnail {
                        width: 100%;
                        margin-top: 30px;

                        img {
                            width: 100%;
                            height: 97px;
                        }

                        img:hover {
                            border: 1px solid burlywood;
                            filter: none !important;
                        }

                        img:not(.target) {
                            filter: blur(3px);
                        }
                    }
                }
            }

            .box-info {
                margin-top: 50px;

                .nav {
                    .nav-item {
                        .nav-link {
                            margin: 0;
                            padding: 0;
                            width: auto;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            text-align: center;
                            color: #888888;
                        }

                        .active {
                            background-color: transparent;
                            color: $orange-primary;
                        }
                    }
                }

                .tab-content {
                    hr {
                        height: 0.5px;
                        color: #888888;
                    }

                    .tab-pane {
                        .box-text {
                            margin: 30px 0 50px 0;

                            .panel-title {
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 700;
                                color: black;
                            }

                            .panel-sub-title {
                                font-weight: bold;
                                color: rgba(30, 30, 30, 0.8);
                            }

                            .panel-text {
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 30px;
                                color: #4F4F4F;
                            }

                            ul {
                                padding-left: 16px;

                                li {
                                    color: #4F4F4F;
                                }
                            }

                            .tick-vert {
                                list-style-image: url('../images/icon/tick-vert.svg');
                                padding-left: 25px;

                                li {
                                    padding-left: 20px;
                                    margin-bottom: 10px;
                                }
                            }

                            //Accordion Itinerary
                            .accordion {
                                border: none;

                                .accordion-item {
                                    border: none;
                                    background: #F4F4F4;
                                    margin-bottom: 20px;

                                    .accordion-button {
                                        border: none;
                                        border-radius: 8px;
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: 700;
                                        line-height: 30px;
                                        color: #04316A;
                                        box-shadow: none;
                                    }

                                    .accordion-button:not(.collapsed) {
                                        border: none;
                                        box-shadow: none;
                                        background: #F4F4F4;
                                    }

                                    .collapsed {
                                        border: 1px solid #C4C4C4;
                                    }

                                    .accordion-button:not(.collapsed)::after {
                                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                                    }

                                    .accordion-body {
                                        .list-accordion {
                                            list-style: none;
                                            padding-left: 25px;
                                            line-height: 30px;

                                            .list-accordion-item {
                                                position: relative;
                                                font-size: 16px;
                                                font-weight: 400;
                                                line-height: 30px;
                                                margin-bottom: 30px;

                                                .title-item {
                                                    color: #04316A;
                                                    font-weight: bold;
                                                    margin-bottom: 0;
                                                }

                                                .duration-item {
                                                    margin-top: 30px;
                                                    font-weight: bold;

                                                    span {
                                                        font-weight: 400;
                                                    }
                                                }
                                            }

                                            li:after {
                                                display: block;
                                                content: "";
                                                background: url('../images/icon/map-pin.svg');
                                                width: 18px;
                                                height: 22px;
                                                position: absolute;
                                                top: 5px;
                                                left: -25px;
                                            }
                                        }
                                    }
                                }
                            }

                            .box-maps {
                                width: 100%;

                                iframe {
                                    width: 100%;
                                    height: 360px;
                                }
                            }

                            .box-images-panoramic {
                                width: 100%;
                                height: 360px;
                                position: relative;
                            }

                            .box-video {
                                position: relative;
                                width: 100%;
                                margin-top: 50px;

                                video {
                                    width: 100%;
                                    object-fit: fill;
                                }
                            }

                            .wrap-video,
                            .wrap-panoramic {
                                position: absolute;
                                background-color: rgba(42, 44, 44, 0.5);
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 1;

                                i,
                                img {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    color: white;
                                    font-size: 80px;
                                }

                                #iconPauseVideo {
                                    display: none;
                                }
                            }
                        }
                    }

                    .panel-info {
                        .box-text {
                            .accordion {
                                .accordion-item {
                                    .accordion-button {
                                        img {
                                            padding-top: 6px;
                                            margin-right: 20px;
                                        }
                                    }

                                    .collapsed {
                                        color: black;

                                        img {
                                            filter: brightness(0);
                                        }
                                    }

                                    .accordion-body {
                                        p {
                                            padding-left: 42px;
                                        }
                                    }
                                }
                            }

                            li {
                                margin-bottom: 10px;
                            }
                        }
                    }

                    .panel-review {
                        .box-rate-review {
                            width: 100%;
                            background-color: #f4f4f4;
                            padding: 30px;

                            .box-rate {
                                border-right: 1px solid #C4C4C4;
                                padding: 0;

                                .rate-title {
                                    font-size: 48px;
                                    font-weight: 600;
                                    margin: 0;
                                }

                                .rate-text {
                                    font-size: 16px;
                                    font-weight: 400;

                                    span {
                                        font-weight: bold;
                                    }
                                }

                                .list-rate-star {
                                    font-size: 26px;
                                }
                            }

                            .box-list-rate {
                                padding: 0;

                                .rate-item {
                                    font-size: 18px;
                                    font-weight: 500;
                                    width: 100%;
                                    overflow: hidden;

                                    .number-star {
                                        width: 40px;
                                        margin: 0;

                                        i {
                                            font-size: 12px;
                                        }
                                    }

                                    .text-review {
                                        font-size: 14px;
                                        width: 100px;
                                    }

                                    .progress {
                                        flex-grow: 2;
                                        flex-shrink: 2;
                                        margin: 0 15px;
                                        height: 8px;

                                        .progress-bar {
                                            border-radius: 8px;
                                        }
                                    }
                                }
                            }
                        }

                        .box-review {
                            margin-top: 30px;

                            .form-review {
                                margin-left: 15px;

                                button {
                                    font-size: 16px;
                                    font-weight: 700;
                                    background-color: $orange-primary;
                                    color: white;
                                    width: 170px;
                                    height: 45px;
                                    border: none;
                                }

                                button:hover {
                                    transform: scale(1.01, 1.01);
                                    transition: all 0.3s;
                                }

                                .rate-review {
                                    i {
                                        font-size: 26px;
                                    }
                                }

                                textarea {
                                    resize: none;
                                }
                            }
                        }

                        .box-list-review {
                            hr {
                                margin-top: 50px;
                            }

                            .title-review {
                                img {
                                    width: 80px;
                                    height: 80px;
                                    margin-right: 30px;
                                }

                                .info-review {
                                    font-size: 16px;
                                    font-weight: 400;
                                    color: #4F4F4F;

                                    .text-title {
                                        font-weight: 600;
                                    }
                                }
                            }

                            .review-text {
                                margin-top: 10px;
                                font-size: 16px;
                                font-weight: 400;
                                color: #4F4F4F;
                            }
                        }

                        @media only screen and (max-width: 768px) {
                            .box-rate {
                                border: none !important;
                            }
                        }
                    }
                }
            }
        }

        .box-book-now {
            background-color: #f4f4f4;
            padding: 30px;
            overflow: hidden;

            hr {
                margin-left: -30px;
                width: 150%;
            }

            .card-text {
                color: $black-content;
            }

            .card-title {
                font-size: 20px;
                font-weight: 500;
            }

            .info-tour {
                .card-title {
                    font-size: 14px;
                }

                .card-text {
                    color: $black-content;

                    .card-title {
                        color: $black-title;
                        font-weight: 500;
                        font-size: 14px;
                    }
                }
            }

            .input-inner-icon {
                margin: 20px 0;
            }

            .btn-search-submit {
                height: 64px;
                background-color: $orange-primary;
                color: white;
                border: none;
                font-size: 14px;
                font-weight: 700;
            }

            .total-price {
                color: $black-title;
                margin-bottom: 30px;

                .card-text {
                    font-size: 20px;
                    font-weight: 400;
                    padding: 0;
                    margin: 0;
                }

                .card-title {
                    font-weight: 700;
                    font-size: 20px;
                    padding: 0;
                    margin: 0;
                }
            }
        }

        @media only screen and (max-width: 992px) {
            .box-body-detail {
                width: 100%;
            }
            .box-book-now {
                margin-top: 80px;
            }
            .box-body-detail .box-descriptions .nav .nav-item .nav-link {
                font-size: 22px;
            }
        }
        @media only screen and (max-width: 576px) {
            .body-tour-slide {
                .main-image-tour {
                    .list-image-thumbnail {
                        img {
                            height: 75px;
                        }
                    }
                }
            }
            .box-body-detail .box-descriptions .nav .nav-item .nav-link {
                font-size: 16px;
            }
        }
    }
}

.box-slide .header-slide .title-related {
    font-size: 28px;
    font-weight: 600;
}
