@import url(https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
/* utilities */
* {
    font-family: "Public Sans", sans-serif;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
}

body {
    transition: 0.25s ease-in-out;
}

.star {
    color: #FFA11A;
}

.fill-white {
    filter: brightness(0) invert(1);
}

.fill-orange {
    filter: invert(57%) sepia(74%) saturate(2141%) hue-rotate(333deg) brightness(107%) contrast(102%);
}

.fill-yellow {
    filter: invert(64%) sepia(98%) saturate(425%) hue-rotate(350deg) brightness(100%) contrast(103%);
}

.fill-gray {
    filter: invert(69%) sepia(54%) saturate(0%) hue-rotate(198deg) brightness(106%) contrast(87%);
}

.ribbon {
    position: absolute;
    top: -2px;
    right: 8%;
    height: 35px;
    width: 20px;
}

.card-title {
    font-size: 18px;
}

.card-text {
    font-size: 14px;
    padding: 9px 0;
    margin: 0;
}

.card-text img {
    width: 16px;
    height: 18px;
    display: inline-block;
    margin-right: 14px;
}

/* components */
/* Icon 1 */
#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
    width: 33.3333333333px;
    height: 25px;
    position: relative;
    margin: 0 auto;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #2d2d2d;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 10px;
}

#nav-icon1 span:nth-child(3) {
    top: 20px;
}

#nav-icon1.open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -33.3333333333px;
}

#nav-icon1.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
}

/* Icon 2 */
#nav-icon2 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: #2d2d2d;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 5px 5px 0;
}

#nav-icon2 span:nth-child(odd) {
    left: 1px;
    border-radius: 5px 0 0 5px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
    top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
    top: 10px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
    top: 20px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
    transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
    transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
    left: 2.7777777778px;
    top: 3.8888888889px;
}

#nav-icon2.open span:nth-child(2) {
    left: calc(50% - 2.7777777778px);
    top: 3.8888888889px;
}

#nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
    left: 2.7777777778px;
    top: 16.1111111111px;
}

#nav-icon2.open span:nth-child(6) {
    left: calc(50% - 2.7777777778px);
    top: 16.1111111111px;
}

/* Icon 3 */
#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 10px;
}

#nav-icon3 span:nth-child(4) {
    top: 20px;
}

#nav-icon3.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
}

/* Icon 4 */
#nav-icon4 span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 10px;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 20px;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -1.6666666667px;
    left: 4.4444444444px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 21.6666666667px;
    left: 4.4444444444px;
}

.destination-item {
    height: 320px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.destination-item img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 5px;
}

.destination-item .info-destination {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 125px;
    left: 0;
    z-index: 2;
    text-align: center;
    padding: 0 10%;
    font-size: 20px;
    color: white;
    transition: all 0.25s;
}

.destination-item .info-destination .name-destination {
    font-size: 32px;
    font-weight: bold;
}

.destination-item .info-destination .description {
    display: none;
}

.destination-item .info-destination .btn-view {
    color: #00d8d5;
    font-weight: bold;
    display: none;
}

.destination-item .info-destination .btn-view:hover {
    text-decoration: none;
    opacity: 0.8;
}

.destination-item .total-tours {
    position: absolute;
    z-index: 1;
    right: 35px;
    top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #00d8d5;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.destination-item:hover img {
    filter: brightness(0.5);
}

.destination-item:hover .info-destination {
    top: 0;
}

.destination-item:hover .description,
.destination-item:hover .btn-view {
    display: block;
}

@media only screen and (min-width: 992px) {
    .banner-header {
        padding-top: 165px;
    }
}

@media only screen and (min-width: 576px) {
    .banner-header .title-header {
        font-size: 52px;
    }

    .banner-header .desc-header {
        font-size: 21px;
    }

    .banner-header .box-find-tour {
        font-size: 15px;
    }
}

.card-destination {
    width: 255px;
}

.card-destination img {
    /* height: 350px !important; */
    height: 200px !important;
}

.card-destination .card-body h5 {
    min-height: 28px !important;
    margin: 0;
}

.card-destination .card-body .card-title {
    -webkit-line-clamp: 1 !important;
    font-size: 20px;
    margin-bottom: 2px;
}

.card-destination .card-body .card-text {
    font-size: 14px;
    padding: 0;
}

@media only screen and (max-width: 992px) {
    .slide-destinations .card-destination {
        width: 200px;
    }

    .slide-destinations .card-destination img {
        height: 200px !important;
    }
}

@media only screen and (max-width: 576px) {
    .slide-destinations .card-destination {
        width: 135px;
    }

    .slide-destinations .card-destination .card-body .card-title {
        font-size: 18px;
    }
}

@media screen and (max-width: 767.98px) {
    .card-destination .card-img-top {
        height: 180px !important;
    }
}

@media screen and (max-width: 575.98px) {
    .card-destination .card-img-top {
        height: 160px !important;
    }
}

.tour-image {
    position: relative;
    height: 250px;
}

.tour-image img {
    height: 250px;
}

.tour-image .best-seller {
    position: absolute;
    bottom: -20px;
    left: 20px;
    padding: 5px 8px;
    background-color: #00d8d5;
    z-index: 1;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.tour-title {
    height: 55px;
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: black;
}

.tour-title:hover {
    text-decoration: none;
    color: #00d8d5;
}

.tour-duration {
    color: #00d8d5;
    font-size: 20px;
}

.price-discount {
    font-size: 15px;
    color: #a7a7a7;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: #00d8d5;
}

@media only screen and (min-width: 576px) {
    .tour-image {
        height: 350px;
    }

    .tour-image img {
        height: 350px;
    }
}

@media only screen and (min-width: 992px) {
    .tour-image {
        height: 210px;
    }

    .tour-image img {
        height: 210px;
    }
}

.breadcrumb-wrap {
    margin-top: 80px;
    margin-bottom: 20px;
}

.breadcrumb-wrap .breadcrumb .breadcrumb-item {
    padding: 0;
}

.breadcrumb-wrap .breadcrumb .breadcrumb-item a {
    color: #4F4F52;
    text-decoration: none;
    padding-top: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.breadcrumb-wrap .breadcrumb-item + .breadcrumb-item::before {
    content: url("../images/icon/ellipse.svg");
    padding: 0 1.2rem;
    line-height: 22px;
}

.input-inner-icon {
    margin: 18px 30px;
    position: relative;
}

.input-inner-icon img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    z-index: 1;
}

.input-inner-icon input {
    padding-left: 60px;
    height: 64px;
}

.input-inner-icon select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../images/icon/polygon.svg");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    padding-left: 60px;
    height: 64px;
}

.input-inner-icon select:required:invalid {
    color: gray;
}

.box-slide .header-slide {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.box-slide .header-slide .title-slide {
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    line-height: 40px;
    width: 551px;
    margin-bottom: 0;
}

.box-slide .header-slide .btn-view-all {
    width: 92px;
    height: 38px;
    background: #1C1C1E;
    color: white;
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    border-radius: 0;
}

.box-slide .body-slide {
    position: relative;
    margin-top: 60px;
}

.box-slide .body-slide .owl-nav .disabled {
    display: none;
}

.box-slide .body-slide .owl-nav button {
    position: absolute;
    top: 30%;
}

.box-slide .body-slide .owl-nav .owl-prev {
    left: -35px;
}

.box-slide .body-slide .owl-nav .owl-prev img {
    transform: rotate(180deg);
}

.box-slide .body-slide .owl-nav .owl-next {
    right: -35px;
}

.box-slide .body-slide .owl-nav .button:hover {
    cursor: pointer;
    z-index: 1;
}

.box-slide .body-slide .card {
    border: none;
    width: 100%;
}

.box-slide .body-slide .card .card-image {
    width: 100%;
    padding-bottom: 80%;
    position: relative;
}

.box-slide .body-slide .card .card-image .card-img-top {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.box-slide .body-slide .card .card-body {
    padding: 12px 0;
}

.box-slide .body-slide .card .card-body h5 {
    min-height: 45px;
}

.box-slide .body-slide .card .card-body h5 a {
    color: #1C1C1E;
    text-decoration: none;
}

.box-slide .body-slide .card .card-body .card-title {
    color: #1C1C1E;
    font-style: normal;
    font-weight: 500;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.box-slide .body-slide .card .card-body .card-title a:hover {
    color: #00d8d5;
}

.box-slide .body-slide .card .card-body .card-text {
    color: #636567;
    font-weight: 400;
}

.box-slide .body-slide .card .card-body .card-text .card-title {
    display: inline;
}

@media only screen and (max-width: 1200px) {
    .box-slide .body-slide .owl-nav button {
        top: -35px;
    }

    .box-slide .body-slide .owl-nav .owl-prev {
        left: 2%;
    }

    .box-slide .body-slide .owl-nav .owl-next {
        right: 2%;
    }
}

@media only screen and (max-width: 576px) {
    .box-slide .header-slide .title-slide {
        width: 250px;
        font-size: 22px;
    }

    .box-slide .body-slide .card-body div {
        flex-direction: column;
        align-items: flex-start !important;
        text-align: left;
    }

    .box-slide .body-slide .card-body div p {
        padding: 0;
    }
}

[slider] {
    position: relative;
    height: 6px;
    border-radius: 10px;
    text-align: left;
    margin: 45px 0 10px 0;
}

[slider] > div {
    position: absolute;
    left: 13px;
    right: 15px;
    height: 6px;
}

[slider] > div > [inverse-left] {
    position: absolute;
    left: 0;
    height: 6px;
    border-radius: 10px;
    background-color: #CCC;
    margin: 0 7px;
}

[slider] > div > [inverse-right] {
    position: absolute;
    right: 0;
    height: 6px;
    border-radius: 10px;
    background-color: #CCC;
    margin: 0 7px;
}

[slider] > div > [range] {
    position: absolute;
    left: 0;
    height: 6px;
    border-radius: 14px;
    background-color: #00d8d5;
}

[slider] > div > [thumb] {
    position: absolute;
    top: -5px;
    z-index: 2;
    height: 16px;
    width: 16px;
    text-align: left;
    margin-left: -11px;
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px #00000038;
    background: #FFFFFF;
    border: 2px solid #00d8d5;
    border-radius: 50%;
    outline: none;
}

[slider] > input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 6px;
    top: -2px;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

div[slider] > input[type=range]::-ms-track {
    -webkit-appearance: none;
    background: transparent;
    color: transparent;
}

div[slider] > input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: transparent;
    color: transparent;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent;
}

div[slider] > input[type=range]:focus {
    outline: none;
}

div[slider] > input[type=range]::-ms-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
}

div[slider] > input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
    -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
    display: none;
}

[slider] > div > [sign] {
    position: absolute;
    margin-left: -11px;
    top: -39px;
    z-index: 3;
    height: 42px;
    width: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: #4F4F4F;
}

[slider] > div > [sign] > span {
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;
}

/* layout */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.18);
    z-index: 2;
    cursor: pointer;
}

.header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.header nav {
    position: relative;
}

.navigator-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: solid 3px #e5e5e5;
    transition: all 0.25s;
    z-index: -1;
}

#navbarNav .nav-link {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #94999f;
}

#navbarNav .nav-link:hover,
#navbarNav .active {
    color: #1e354c;
}

@media only screen and (max-width: 991.99px) {
    #overlay.show {
        display: block;
    }

    .nav-margin-right {
        margin-right: 350px;
        margin-left: -350px;
    }

    #navbarNav {
        transition: right 0.25s ease-in-out;
        background-color: #1f1f1f;
        padding-top: 30px;
        height: 100%;
        width: 350px;
        position: fixed;
        z-index: 3;
        right: -350px;
        top: 0;
    }

    #navbarNav .nav-item {
        padding: 0 30px;
    }

    #navbarNav .nav-link {
        padding: 20px 0;
        color: #979797;
        border-bottom: solid 1px #979797;
    }

    #navbarNav .nav-link:hover,
    #navbarNav .active {
        color: #ffffff;
    }

    #navbarNav.show {
        right: 0;
    }
}

@media only screen and (max-width: 575.99px) {
    .nav-margin-right {
        margin-right: 250px;
        margin-left: -250px;
    }

    .nav-link {
        padding: 10px 0;
    }

    #navbarNav {
        width: 250px;
        right: -250px;
    }

    #navbarNav.show {
        right: 0;
    }
}

.box-banner-header {
    margin-top: 80px;
    width: 100%;
}

.banner-header {
    height: 550px;
    padding-top: 80px;
    width: 100%;
    background-size: cover;
    background-image: url("/images/bg-travel.jpg");
    color: white;
    text-align: center;
}

.banner-header .title-header {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0;
}

.banner-header .desc-header {
    font-size: 16px;
}

.banner-header .box-find-tour {
    width: 65%;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 15px;
}

.banner-header .box-find-tour .col-find-tour {
    padding: 2px;
}

.banner-header .box-find-tour .col-find-tour.search input {
    padding-right: 30px;
}

.banner-header .box-find-tour .col-find-tour.search::after {
    content: "\f002";
    font-family: fontAwesome;
    position: absolute;
    right: 15px;
    top: 50%;
    color: black;
    z-index: 1;
    transform: translateY(-50%);
}

.banner-header .box-find-tour .form-find-tour {
    height: 65px;
    position: relative;
}

.banner-header .box-find-tour .btn-find-tour {
    height: 65px;
    width: 100%;
    background-color: #00d8d5;
    color: white;
}

.box-statistical {
    padding-top: 30px;
    width: 100%;
    background-color: #00d8d5;
    background: linear-gradient(#00adad, #00d8d5);
}

.statistical {
    width: 65%;
    margin: 0 auto;
}

.statistical-item {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.statistical-item img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.statistical-item p {
    margin-bottom: 0;
}

.statistical-content {
    width: 80%;
    font-size: 15px;
    color: white;
}

.statistical-content .title {
    font-weight: bold;
    margin-bottom: 5px;
}

.box-title {
    width: 100%;
    margin: 80px 0;
    text-align: center;
}

.box-title .title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.box-title a {
    color: #00d8d5;
}

.box-title a:hover {
    text-decoration: none;
}

.footer {
    margin-top: 150px;
    background-color: #1C1C1E;
}

.footer .footer-info .footer-logo .footer-social img {
    width: 20px;
    height: 16px;
    margin-right: 35px;
}

.footer .footer-info .footer-nav {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
}

.footer .footer-info .footer-nav a {
    color: white;
    padding-top: 0;
}

.footer .footer-info .footer-nav a:hover {
    cursor: pointer;
    color: #00d8d5;
}

.footer .footer-info .footer-contact {
    margin-top: 15px;
}

.footer .footer-info .footer-contact .contact-item .icon-contact {
    display: inline-block;
    margin-right: 20px;
}

.footer .footer-info .footer-contact .contact-item p {
    display: inline-block;
    width: 80%;
}

.footer .footer-info .footer-contact .contact-item p a {
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}

.footer .footer-info .footer-contact .contact-item p a:hover {
    color: #00d8d5;
    cursor: pointer;
}

.footer .copyright {
    height: 41px;
    width: 100%;
    background-color: #000000;
    margin: 0 auto;
    text-align: center;
}

.footer .copyright span {
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
}

@media only screen and (max-width: 992px) {
    .footer .footer-info .footer-logo .footer-social img {
        margin-right: 15px;
    }

    .footer .footer-info .footer-contact .contact-item .icon-contact {
        margin-right: 10px;
    }

    .footer .footer-info .footer-contact .contact-item .icon-contact img {
        width: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .footer .footer-info .footer-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/* pages */
.ads {
    margin-top: 100px;
    height: 450px;
}

.ads-left-custom {
    padding-right: 0;
    background-color: #00d8d5;
    font-size: 22px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ads-right-custom {
    padding-left: 0;
    padding-right: 0;
}

.ads img {
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
    object-fit: cover;
}

/*========== Mail Deals ==========*/
.mail-deals {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 150px;
}

.mail-deals .title-mail {
    width: 100%;
    max-width: 434px;
    height: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: #1C1C1E;
}

.mail-deals .title-mail p {
    margin: 0;
}

.mail-deals .title-mail p span {
    color: #00d8d5;
}

.mail-deals .form-input-mail {
    width: 100%;
}

.mail-deals .form-input-mail .input-mail {
    margin-left: 0;
}

.mail-deals .form-input-mail .input-mail input {
    height: 48px;
    border: 1px solid #636567;
}

.mail-deals .form-input-mail .btn-send-mail {
    width: 101px;
    height: 48px;
    background-color: #1C1C1E;
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
}

@media only screen and (max-width: 1200px) {
    .mail-deals .form-input-mail .btn-send-mail {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 576px) {
    .mail-deals .title-mail {
        font-size: 30px;
    }

    .mail-deals .form-input-mail .btn-send-mail {
        margin-left: 15px;
    }
}

.banner-title {
    position: relative;
    margin-top: 80px;
}

.banner-title img {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
    object-fit: cover;
}

.banner-title .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    font-weight: bold;
}

/*========== Filter tour ==========*/
.btn-filter-wrap {
    position: relative;
}

.btn-filter-wrap .btn-filter {
    height: 38px;
    width: 105px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    border: 1.5px solid #1E1E1E;
    border-radius: 0;
    padding-top: 10px;
    background: transparent;
}

.btn-filter-wrap .btn-filter i {
    font-size: 16px;
    transition: all 0.25s;
}

.btn-filter-wrap .collapse-fillter {
    overflow: scroll;
    overflow-x: hidden;
    height: 500px;
    position: absolute;
    right: 0;
    top: 60px;
    width: 350px;
    border-radius: 0px;
    padding: 24px;
    box-shadow: 0px 4px 36px 0px #00000033;
    z-index: 5;
    background: #FFFFFF;
}

.btn-filter-wrap .collapse-fillter .card {
    padding: 0;
    border: none;
}

.btn-filter-wrap .collapse-fillter .card .filter-header {
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 20px;
}

.btn-filter-wrap .collapse-fillter .card .filter-header p {
    margin: 0;
    color: #03387D;
}

.btn-filter-wrap .collapse-fillter .card .filter-header .text-clear {
    color: #C4C4C4;
}

.btn-filter-wrap .collapse-fillter .card .filter-header .text-clear:hover {
    color: #03387D;
    cursor: pointer;
}

.btn-filter-wrap .collapse-fillter .card h5 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn-filter-wrap .collapse-fillter .card .form-select-filter .form-group .form-check {
    margin-bottom: 20px;
}

.btn-filter-wrap .collapse-fillter .card .form-select-filter .form-group .form-check .form-check-input {
    margin-right: 15px;
}

.btn-filter-wrap .collapse-fillter .card .form-select-filter .btn-submit-filter {
    height: 48px;
    width: 301px;
    margin-top: 32px;
    background-color: #00d8d5;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

/*========== Pagination ==========*/
.pagination-tours .pagination-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #8E8E93;
    margin-right: 35%;
}

.pagination-tours .page-navigation .pagination .page-item .page-link {
    width: 48px;
    height: 48px;
    padding: 0;
    text-align: center;
    line-height: 48px;
    background: #E8E9EA;
    color: #4F4F52;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin: 12px;
}

.pagination-tours .page-navigation .pagination .page-item .page-link img {
    padding-bottom: 5px;
}

.pagination-tours .page-navigation .pagination .page-item.active a {
    background-color: #1C1C1E;
    color: white;
}

@media only screen and (max-width: 992px) {
    .pagination-tours .pagination-text {
        margin-right: 10%;
    }
}

@media only screen and (max-width: 768px) {
    .pagination-tours {
        flex-direction: column;
    }

    .pagination-tours .pagination-text {
        text-align: center;
        width: 100%;
        margin-right: 15%;
    }

    .pagination-tours .page-navigation {
        width: 100%;
    }

    .pagination-tours .page-navigation .pagination {
        justify-content: center !important;
    }

    .pagination-tours .page-navigation .pagination .page-item .page-link {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        margin: 10px;
    }
}

/*========== Header ==========*/
.header-tour-detail {
    background-image: none;
    height: 130px;
}

.header-tour-detail .logo {
    filter: invert(1);
}

.header-tour-detail .navbar .navbar-header {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.header-tour-detail .navbar .navbar-header .nav-item a {
    color: black;
}

.header-tour-detail .navbar .navbar-header .nav-item a:hover {
    color: #00d8d5;
}

.header-tour-detail .navbar .navbar-header .nav-item .active {
    color: #00d8d5;
}

@media only screen and (max-width: 575.98px) {
    .header-tour-detail .navbar-header {
        background: #525253;
    }
}

.box-detail-tour .header-detail .title-tour {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.box-detail-tour .header-detail .text-content {
    color: #636567;
    font-weight: 400;
}

.box-detail-tour .header-detail .rate {
    width: 65px;
    height: 30px;
    padding: 0 10px;
    background-color: #00d8d5;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 40px;
}

.box-detail-tour .header-detail .rate img {
    height: 16px;
    width: 16px;
    display: inline;
}

.box-detail-tour .header-detail .rate span {
    padding-top: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    color: white;
}

.box-detail-tour .box-detail-content {
    margin-top: 38px;
}

.box-detail-tour .box-detail-content .box-body-detail {
    width: 92%;
}

.box-detail-tour .box-detail-content .box-body-detail .body-tour-slide .main-image-tour {
    position: relative;
}

.box-detail-tour .box-detail-content .box-body-detail .body-tour-slide .main-image-tour .main-image {
    width: 100%;
    position: relative;
}

.box-detail-tour .box-detail-content .box-body-detail .body-tour-slide .main-image-tour .main-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.box-detail-tour .box-detail-content .box-body-detail .body-tour-slide .main-image-tour .main-image:after {
    content: "";
    display: block;
    padding-bottom: 85%;
}

.box-detail-tour .box-detail-content .box-body-detail .body-tour-slide .main-image-tour .ribbon {
    height: 35px;
    width: 50px;
    right: 2%;
    z-index: 2;
}

.box-detail-tour .box-detail-content .box-body-detail .body-tour-slide .main-image-tour .list-image-thumbnail {
    width: 100%;
    margin-top: 30px;
}

.box-detail-tour .box-detail-content .box-body-detail .body-tour-slide .main-image-tour .list-image-thumbnail img {
    width: 100%;
    height: 97px;
}

.box-detail-tour .box-detail-content .box-body-detail .body-tour-slide .main-image-tour .list-image-thumbnail img:hover {
    border: 1px solid burlywood;
    filter: none !important;
}

.box-detail-tour .box-detail-content .box-body-detail .body-tour-slide .main-image-tour .list-image-thumbnail img:not(.target) {
    filter: blur(3px);
}

.box-detail-tour .box-detail-content .box-body-detail .box-info {
    margin-top: 50px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .nav .nav-item .nav-link {
    margin: 0;
    padding: 0;
    width: auto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #888888;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .nav .nav-item .active {
    background-color: transparent;
    color: #00d8d5;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content hr {
    height: 0.5px;
    color: #888888;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text {
    margin: 30px 0 50px 0;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text .panel-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: black;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text .panel-sub-title {
    font-weight: bold;
    color: rgba(30, 30, 30, 0.8);
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text .panel-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #4F4F4F;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text ul {
    padding-left: 16px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text ul li {
    color: #4F4F4F;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text .tick-vert {
    list-style-image: url("../images/icon/tick-vert.svg");
    padding-left: 25px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text .tick-vert li {
    padding-left: 20px;
    margin-bottom: 10px;
}

.accordion {
    border: none;
}

.accordion .accordion-item {
    border: none;
    background: #F4F4F4;
    margin-bottom: 20px;
}

.accordion .accordion-item .accordion-button {
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    color: #04316A;
    box-shadow: none;
}

.accordion .accordion-item .accordion-button:not(.collapsed) {
    border: none;
    box-shadow: none;
    background: #F4F4F4;
}

.accordion .accordion-item .collapsed {
    border: 1px solid #C4C4C4;
}

.accordion .accordion-item .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion .accordion-item .accordion-body .list-accordion {
    list-style: none;
    padding-left: 25px;
    line-height: 30px;
}

.accordion .accordion-item .accordion-body .list-accordion .list-accordion-item {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.accordion .accordion-item .accordion-body .list-accordion .list-accordion-item .title-item {
    color: #04316A;
    font-weight: bold;
    margin-bottom: 0;
}

.accordion .accordion-item .accordion-body .list-accordion .list-accordion-item .duration-item {
    margin-top: 30px;
    font-weight: bold;
}

 .accordion .accordion-item .accordion-body .list-accordion .list-accordion-item .duration-item span {
    font-weight: 400;
}

 .accordion .accordion-item .accordion-body .list-accordion li:after {
    display: block;
    content: "";
    background: url("../images/icon/map-pin.svg");
    width: 18px;
    height: 22px;
    position: absolute;
    top: 5px;
    left: -25px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text .box-maps {
    width: 100%;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text .box-maps iframe {
    width: 100%;
    height: 360px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text .box-images-panoramic {
    width: 100%;
    height: 360px;
    position: relative;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text .box-video {
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text .box-video video {
    width: 100%;
    -o-object-fit: fill;
    object-fit: fill;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text .wrap-video,
.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text .wrap-panoramic {
    position: absolute;
    background-color: rgba(42, 44, 44, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text .wrap-video i,
.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text .wrap-video img,
.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text .wrap-panoramic i,
.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text .wrap-panoramic img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text .wrap-video #iconPauseVideo,
.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .tab-pane .box-text .wrap-panoramic #iconPauseVideo {
    display: none;
}

.accordion .accordion-item .accordion-button img {
    padding-top: 6px;
    margin-right: 20px;
}

.accordion .accordion-item .collapsed {
    color: black;
}

.accordion .accordion-item .collapsed img {
    filter: brightness(0);
}

.accordion .accordion-item .accordion-body p {
    padding-left: 42px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-info .box-text li {
    margin-bottom: 10px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-rate-review {
    width: 100%;
    background-color: #f4f4f4;
    padding: 30px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-rate-review .box-rate {
    border-right: 1px solid #C4C4C4;
    padding: 0;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-rate-review .box-rate .rate-title {
    font-size: 48px;
    font-weight: 600;
    margin: 0;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-rate-review .box-rate .rate-text {
    font-size: 16px;
    font-weight: 400;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-rate-review .box-rate .rate-text span {
    font-weight: bold;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-rate-review .box-rate .list-rate-star {
    font-size: 26px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-rate-review .box-list-rate {
    padding: 0;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-rate-review .box-list-rate .rate-item {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    overflow: hidden;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-rate-review .box-list-rate .rate-item .number-star {
    width: 40px;
    margin: 0;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-rate-review .box-list-rate .rate-item .number-star i {
    font-size: 12px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-rate-review .box-list-rate .rate-item .text-review {
    font-size: 14px;
    width: 100px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-rate-review .box-list-rate .rate-item .progress {
    flex-grow: 2;
    flex-shrink: 2;
    margin: 0 15px;
    height: 8px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-rate-review .box-list-rate .rate-item .progress .progress-bar {
    border-radius: 8px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-review {
    margin-top: 30px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-review .form-review {
    margin-left: 15px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-review .form-review button {
    font-size: 16px;
    font-weight: 700;
    background-color: #00d8d5;
    color: white;
    width: 170px;
    height: 45px;
    border: none;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-review .form-review button:hover {
    transform: scale(1.01, 1.01);
    transition: all 0.3s;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-review .form-review .rate-review i {
    font-size: 26px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-review .form-review textarea {
    resize: none;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-list-review hr {
    margin-top: 50px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-list-review .title-review img {
    width: 80px;
    height: 80px;
    margin-right: 30px;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-list-review .title-review .info-review {
    font-size: 16px;
    font-weight: 400;
    color: #4F4F4F;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-list-review .title-review .info-review .text-title {
    font-weight: 600;
}

.box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-list-review .review-text {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #4F4F4F;
}

@media only screen and (max-width: 768px) {
    .box-detail-tour .box-detail-content .box-body-detail .box-info .tab-content .panel-review .box-rate {
        border: none !important;
    }
}

.box-detail-tour .box-detail-content .box-book-now {
    background-color: #f4f4f4;
    padding: 30px;
    overflow: hidden;
}

.box-detail-tour .box-detail-content .box-book-now hr {
    margin-left: -30px;
    width: 150%;
}

.box-detail-tour .box-detail-content .box-book-now .card-text {
    color: #3D3E3F;
}

.box-detail-tour .box-detail-content .box-book-now .card-title {
    font-size: 20px;
    font-weight: 500;
}

.box-detail-tour .box-detail-content .box-book-now .info-tour .card-title {
    font-size: 14px;
}

.box-detail-tour .box-detail-content .box-book-now .info-tour .card-text {
    color: #3D3E3F;
}

.box-detail-tour .box-detail-content .box-book-now .info-tour .card-text .card-title {
    color: #1C1C1E;
    font-weight: 500;
    font-size: 14px;
}

.box-detail-tour .box-detail-content .box-book-now .input-inner-icon {
    margin: 20px 0;
}

.box-detail-tour .box-detail-content .box-book-now .btn-search-submit {
    height: 64px;
    background-color: #00d8d5;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 700;
}

.box-detail-tour .box-detail-content .box-book-now .total-price {
    color: #1C1C1E;
    margin-bottom: 30px;
}

.box-detail-tour .box-detail-content .box-book-now .total-price .card-text {
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.box-detail-tour .box-detail-content .box-book-now .total-price .card-title {
    font-weight: 700;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 992px) {
    .box-detail-tour .box-detail-content .box-body-detail {
        width: 100%;
    }

    .box-detail-tour .box-detail-content .box-book-now {
        margin-top: 80px;
    }

    .box-detail-tour .box-detail-content .box-body-detail .box-descriptions .nav .nav-item .nav-link {
        font-size: 22px;
    }
}

@media only screen and (max-width: 576px) {
    .box-detail-tour .box-detail-content .body-tour-slide .main-image-tour .list-image-thumbnail img {
        height: 75px;
    }

    .box-detail-tour .box-detail-content .box-body-detail .box-descriptions .nav .nav-item .nav-link {
        font-size: 16px;
    }
}

.box-slide .header-slide .title-related {
    font-size: 28px;
    font-weight: 600;
}

.box-checkout {
    margin-bottom: 200px;
}

.box-checkout .title-checkout {
    font-weight: 500;
    font-size: 36px;
    color: #2a2a2a;
}

.box-checkout .box-detail-content .box-body-checkout {
    width: 95%;
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item {
    width: 95%;
    font-weight: 500;
    color: #2a2a2a;
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item .header-checkout {
    font-size: 24px;
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item .header-desc {
    font-size: 16px;
    font-weight: 400;
    color: #5E6D77;
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item .sub-checkout-item {
    margin-top: 20px;
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item .sub-checkout-item .sub-header {
    font-size: 20px;
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item .sub-checkout-item .title {
    font-size: 16px;
    line-height: 40px;
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item .sub-checkout-item input[type=text] {
    height: 54px;
    border-radius: 0;
    margin-bottom: 24px;
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item .sub-checkout-item .form-check {
    margin-bottom: 15px;
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item .sub-checkout-item .form-check .form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item .sub-checkout-item .form-check input[type=radio] {
    border-radius: 10%;
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item .sub-checkout-item ::-moz-placeholder {
    color: #888888;
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item .sub-checkout-item :-ms-input-placeholder {
    color: #888888;
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item .sub-checkout-item ::placeholder {
    color: #888888;
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item .sub-checkout-item textarea {
    resize: none;
    margin-bottom: 30px;
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item .sub-checkout-item .payment-title {
    width: 120px;
    display: inline-block;
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item .sub-checkout-item .payment-image {
    height: 35px;
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item .sub-checkout-item .list-policy {
    padding-left: 16px;
    font-size: 14px;
    font-weight: 400;
    color: #4F4F4F;
    margin-top: 50px;
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item .sub-checkout-item .list-policy li {
    margin-bottom: 20px;
}

.box-checkout .box-detail-content .box-body-checkout .box-checkout-item .sub-checkout-item .btn-submit-checkout {
    margin-top: 30px;
    height: 56px;
    background-color: #00d8d5;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    color: white;
    border: none;
}

.box-checkout .box-coupon {
    padding: 0 !important;
}

.box-checkout .box-coupon .wrap-content-coupon {
    padding: 30px;
}

.box-checkout .box-coupon .wrap-content-coupon .text-content {
    color: #636567;
}

.box-checkout .box-coupon .wrap-content-coupon .input-inner-icon .btn-apply-coupon {
    border: 1px solid #00d8d5;
    color: #00d8d5;
    background-color: transparent;
    border-radius: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
}

.box-checkout .box-coupon .wrap-content-coupon .input-inner-icon .btn-apply-coupon:hover {
    color: white;
    background-color: #00d8d5;
}

.box-checkout .box-coupon .total-price-coupon {
    padding: 30px;
    background-color: #1C1C1E;
}

.box-checkout .box-coupon .total-price-coupon .card-text {
    color: white !important;
    font-weight: normal;
    font-size: 20px;
}

.box-checkout .box-coupon .total-price-coupon .card-title {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

@media only screen and (max-width: 992px) {
    .box-checkout .box-checkout-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .box-checkout .box-checkout-content .box-body-checkout {
        width: 100%;
    }

    .box-checkout .box-checkout-content .box-body-checkout .box-checkout-item {
        width: 100%;
    }

    .box-checkout .box-coupon {
        margin: 0 0 50px 0 !important;
    }

    .box-checkout .title-checkout {
        font-size: 32px;
    }
}

.thank-modal {
    background-image: url("/images/background-header.png");
    background-size: cover;
}

.thank-modal .panel-thank {
    position: fixed;
    max-width: 845px;
    max-height: 529px;
    width: 90%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.88) 1.52%, rgba(255, 255, 255, 0.8) 100%);
    -webkit-backdrop-filter: blur(42px);
    backdrop-filter: blur(42px);
}

.thank-modal .panel-thank .thank-title {
    color: #00d8d5;
    font-weight: bold;
    font-size: 64px;
}

.thank-modal .panel-thank .thank-text {
    color: #2C2E2F;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 0;
}

.thank-modal .panel-thank .btn-back-home {
    margin-top: 60px;
    background-color: #00d8d5;
    border: none;
}

.thank-modal .panel-thank .btn-back-home a,
.thank-modal .panel-thank .btn-back-home a:hover {
    display: block;
    height: 54px;
    width: 293px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

@media only screen and (max-width: 992px) {
    .thank-modal .panel-thank {
        height: 60%;
    }

    .thank-modal .panel-thank .thank-title {
        font-size: 50px;
    }

    .thank-modal .panel-thank .thank-text {
        font-size: 12px;
    }

    .thank-modal .panel-thank .btn-back-home a,
    .thank-modal .panel-thank .btn-back-home a:hover {
        width: 200px;
    }
}

.header-contact {
    background-image: url("/images/background-contact.png");
    height: 568px;
}

@media only screen and (max-width: 992px) {
    .header-contact {
        height: 420px;
    }
}

.box-contact .contact-title {
    font-size: 32px;
    font-weight: 700;
    color: black;
}

.box-contact .contact-text {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}

.box-contact .form-contact input,
.box-contact .form-contact textarea {
    margin-bottom: 15px;
    background: #F5F5F5;
    border: none;
    border-radius: 0;
}

.box-contact .form-contact input {
    height: 50px;
}

.box-contact .form-contact textarea {
    resize: none;
}

.box-contact .form-contact ::-moz-placeholder {
    color: #747474;
}

.box-contact .form-contact :-ms-input-placeholder {
    color: #747474;
}

.box-contact .form-contact ::placeholder {
    color: #747474;
}

.box-contact .form-contact button {
    width: 200px;
    height: 44px !important;
    border: none;
    background: #00d8d5;
    color: white;
    height: 18px;
    font-weight: bold;
    font-size: 14px;
}

.box-contact .form-contact button:hover {
    transform: scale(1.01, 1.01);
    transition: 0.3s;
}

.box-contact .office {
    height: 488px;
    position: relative;
}

.box-contact .office .office-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.box-contact .office .info-office {
    position: absolute;
    width: 422px;
    height: 324px;
    bottom: 0;
    left: 0;
    background: #1C1C1E;
    padding-left: 40px;
}

.box-contact .office .info-office .office-title {
    margin-top: 30px;
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.box-contact .office .info-office .info-office-item {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 30px;
}

.box-contact .office .info-office .info-office-item img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.box-contact .office .info-office .info-office-item .text-item p {
    margin-bottom: 0;
}

.box-contact .office .info-office .info-office-item .text-item .text-title {
    font-weight: bold;
    font-size: 18px;
    color: #00d8d5;
}

.box-contact .office .info-office .info-office-item .text-item .text-content {
    font-weight: 500;
    font-size: 14px;
    color: white;
}

@media only screen and (max-width: 992px) {
    .box-contact .office {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 576px) {
    .box-contact .contact-title {
        font-size: 26px;
    }

    .box-contact .contact-text {
        font-size: 12px;
    }

    .box-contact .office .info-office {
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 10px;
    }
}

.box-map-contact {
    width: 100%;
    margin-top: 100px;
}

.box-map-contact iframe {
    width: 100%;
    height: 500px;
}

.footer {
    margin-top: 50x;
}

/*@import 'tailwindcss/base';*/
/*@import 'tailwindcss/components';*/
/*@import 'tailwindcss/utilities';*/
/*******************
Preloader
********************/
.preloader {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 99999;
    background: #fff;
    opacity: 0.5;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    position: absolute;
    top: calc(50% - 3.5px);
    left: calc(50% - 3.5px);
}

.lds-ripple .lds-pos {
    position: absolute;
    border: 2px solid #2962FF;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.1, 0.5, 1) infinite;
}

.lds-ripple .lds-pos:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}

.multi-steps > li.is-active ~ li:before, .multi-steps > li.is-active:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
}

.multi-steps > li.is-active ~ li:after, .multi-steps > li.is-active:after {
    background-color: #ededed;
}

.multi-steps {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.multi-steps > li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: #00d8d5;
}

.multi-steps > li.is-cancel {
    color: red;
}

.multi-steps > li:before {
    content: "";
    content: "✓;";
    content: "𐀃";
    content: "𐀄";
    content: "✓";
    display: block;
    margin: 0 auto 4px;
    background-color: #fff;
    width: 36px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-color: #00d8d5;
    border-radius: 50%;
}

.multi-steps > li.is-active.is-cancel:before {
    border-color: red;
    content: 'x' !important;
}

.multi-steps > li:after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #00d8d5;
    position: absolute;
    top: 16px;
    left: 50%;
    z-index: -1;
}

.multi-steps > li:after.is-cancel {
    background-color: red;
}

.multi-steps > li:last-child:after {
    display: none;
}

.multi-steps > li.is-active:before {
    background-color: #fff;
    border-color: #00d8d5;
}

.multi-steps > li.is-active.is-cancel:before {
    border-color: red;
}

.multi-steps > li.is-active ~ li {
    color: #808080;
}

.multi-steps > li.is-active ~ li:before {
    background-color: #ededed;
    border-color: #ededed;
}

#contentComponent {
    min-height: calc(100vh - 329px - 29px - 65px);
}

.swiper-button-next-custom:after, .swiper-button-prev-custom:after {
    border: 1px solid white;
    color: white!important;
    font-size: 18px!important;
    padding: 10px 15px;
    border-radius: 20px;
}
.fa-star{color:silver!important;}
