.box-slide {
    .header-slide {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .title-slide {
            font-size: 40px;
            font-weight: 500;
            font-style: normal;
            line-height: 40px;
            width: 551px;
            margin-bottom: 0;
        }

        .btn-view-all {
            width: 92px;
            height: 38px;
            background: #1C1C1E;
            color: white;
            line-height: 24px;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            border-radius: 0;
        }
    }

    .body-slide {
        position: relative;
        margin-top: 60px;

        .owl-nav {
            .disabled {
                display: none;
            }

            button {
                position: absolute;
                top: 30%;
            }

            .owl-prev {
                left: -35px;

                img {
                    transform: rotate(180deg);
                }
            }

            .owl-next {
                right: -35px;
            }

            .button:hover {
                cursor: pointer;
                z-index: 1;
            }
        }

        .card {
            border: none;
            width: 100%;

            .card-image {
                width: 100%;
                padding-bottom: 80%;
                position: relative;

                .card-img-top {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
            }

            .card-body {
                padding: 12px 0;

                h5 {
                    min-height: 45px;

                    a {
                        color: $black-title;
                        text-decoration: none;
                    }
                }

                .card-title {
                    color: $black-title;
                    font-style: normal;
                    font-weight: 500;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                }

                .card-title a:hover {
                    color: $orange-primary;
                }

                .card-text {
                    color: $subcolor;
                    font-weight: 400;

                    .card-title {
                        display: inline;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1200px) {
        .body-slide {
            .owl-nav {
                button {
                    top: -35px;
                }

                .owl-prev {
                    left: 2%;
                }

                .owl-next {
                    right: 2%;
                }
            }
        }
    }
    @media only screen and (max-width: 576px) {
        .header-slide {
            .title-slide {
                width: 250px;
                font-size: 22px;
            }
        }
        .body-slide {
            .card-body {
                div {
                    flex-direction: column;
                    align-items: flex-start !important;
                    text-align: left;

                    p {
                        padding: 0;
                    }
                }
            }
        }
    }
}
